<html>
    <head>
        <title>todo App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <div class="users-div">
                <img class="users-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcp6RWRGQpyY1fyQ79DgRlfOEt2wXLx0-Yow&s">
                <div class="users-info">
                    <h3 class="users-name">UserName</h3>
                    <p class="users-name">profile: Backend-dev</p>
                    <p class="users-name">salary: 10000$/month</p>
                </div>
            </div>
    
            <div class="app-div">
                <h2>Это todoApp приложение {{ ell }}</h2>
                <p>это приложение наподобии jira но оно на vue.js (без сборки пока что) на html и css</p>
            </div>

            <div class="createTaskForm">
                <input v-model="newTask.name" class="create-task-input">
                <select v-model="newTask.dev" class="select-user">
                    <option v-for="(user) in usersCompany" :value="user.name">{{ user.name }}</option>
                </select>
                <select v-model="newTask.required" class="select-user">
                    <option v-for="(req) in requirementsList" :value="req">{{ req }}</option>
                </select>
                <button @click="addNewTask()" class="create-task-btn">Применить</button>
            </div>
    
    
            <div class="task-div">
                
                <div class="task-column backlog-column">
                    <h3 class="task-title">Backlog</h3>
                    <div class="task-array">
                        <div class="task-self" v-for="(item) in renderedTaskArray.backlog">
                            <h4 class="task-name">{{ item.name }}</h4>
                            <p class="task-dev">developer: {{ item.dev }}</p>
                            <p class="task-req" :style="{'color': getTaskColor(item)}">required is {{ item.required }}</p>
                            <button @click="taskNextState(item)" class="btn-next greener">>>></button>
                        </div>
                    </div>
                </div>
    
                <div class="task-column progress-column">
                    <h3 class="task-title">In Progress</h3>
                    <div class="task-array">
                        <div class="task-self" v-for="(item) in renderedTaskArray.progress">
                            <h4 class="task-name">{{ item.name }}</h4>
                            <p class="task-dev">developer: {{ item.dev }}</p>
                            <p class="task-req" :style="{'color': getTaskColor(item)}">required is {{ item.required }}</p>
                            <button @click="taskNextState(item)" class="btn-next bluer">>>></button>
                        </div>
                    </div>
                </div>
    
                <div class="task-column testing-column">
                    <h3 class="task-title">Testing</h3>
                    <div class="task-array">
                        <div class="task-self" v-for="(item) in renderedTaskArray.testing">
                            <h4 class="task-name">{{ item.name }}</h4>
                            <p class="task-dev">developer: {{ item.dev }}</p>
                            <p class="task-req" :style="{'color': getTaskColor(item)}">required is {{ item.required }}</p>
                            <button @click="taskNextState(item)" class="btn-next purpler">>>></button>
                        </div>
                    </div>
                </div>
    
                <div class="task-column done-column">
                    <h3 class="task-title">Done</h3>
                    <div class="task-array">
                        <div class="task-self" v-for="(item) in renderedTaskArray.done">
                            <h4 class="task-name">{{ item.name }}</h4>
                            <p class="task-dev">developer: {{ item.dev }}</p>
                            <p class="task-req" :style="{'color': getTaskColor(item)}">required is {{ item.required }}</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>