body {
	margin: 0px;
	background-color: black;
	color: white;
}

.navbar {
	display: flex;
	background-color: #312f2d;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}

.navbar-one {
	font-size: 25px;
	color: aqua;
	font-family: cursive;
	text-decoration: none;
}

.navbar-links-item {
	color: purple;
	font-size: 20px;
	font-family: sans-serif;
	margin-right: 20px;
	text-decoration: none;
}

.main {
	height: 80vh;
	background-image: url("media/assassin.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.main-header {
	color: darkred;
	font-family: cursive;
	font-size: 30px;
	text-align: center;
}

.main-select {
	display: flex;
	margin-top: 100px;
	justify-content: space-around;
}

.main-select-item {
	color: red;
	font-size: 30px;
	font-family: cursive;
}

.main-select-item:hover {
	color: darkgreen;
	font-size: 40px;
	font-family: sans-serif;
	transition: font-size 1s linear;
}

.main-text {
	color: yellow;
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
}

.card-div {
	margin-top: 30px;
}

.card-title {
	text-align: center;
	color: whitesmoke;
	font-size: 25px;
	font-family: monospace;
}

.card-container {
	display: flex;
	justify-content: space-around;
}

.card {
	width: 30%;
	height: 65vh;
	border: solid 1px green;
}

.card-title2 {
	text-align: center;
	color: greenyellow;
	font-size: 20px;
	font-family: cursive;
}

.card-img {
	height: 50vh;
	width: 100%;
}

.card-text {
	text-align: center;
	color: aqua;
	font-size: 20px;
	font-family: sans-serif;
	margin: 10px;
}

.footer {
	margin-top: 40px;
	background-color: #131111;
}

.footer-one {
	color: red;
	font-size: 20px;
	font-family: cursive;
	margin-left: 20px;
}

.footer-two {
	color: darkcyan;
	font-size: 18px;
	font-family: sans-serif;
	margin-left: 20px;
}


.footer-tree {
	color: yellow;
	font-size: 16px;
	font-family: sans-serif;
	margin-left: 20px;
	padding-bottom: 30px;
}

@media (max-width: 480px) {

	.main {
		height: 50vh;
	}

	.main-select-item {
        font-size: 15px;
    }

	.main-select-item:hover {
		font-size: 25px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

	.footer-one {
		font-size: 15px;
	}
	.footer-two {
        font-size: 13px;
    }
	.footer-tree {
        font-size: 11px;
    }
}

@media (min-width: 480px) and (max-width: 920px) {
	.main {
        height: 60vh;
    }

    .main-select-item {
        font-size: 20px;
    }

    .main-select-item:hover {
        font-size: 30px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

	.card-text {
		padding-top: 30px;
	}

    .footer-one {
        font-size: 20px;
    }
    .footer-two {
        font-size: 15px;
    }
    .footer-tree {
        font-size: 12px;
    }
}

.copy-text {
	margin-top: 20px;
    font-size: 20px;
	padding-bottom: 20px;
    color: gray;
    text-align: center;
}

.copy2 {
	font-weight: 700;
	font-family: cursive;
	font-style: oblique;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}