<!DOCTYPE html>
<html>
    <head>
        <title>CRM on Vue.js</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">

            <div class="app-layout" v-if="siteState != 'login'" :style="{'width': barWidth}">
                <h1 @click="toggleBar()" :style="{'margin-left': isBarShow ? '80%' : '20%', 'color': 'white'}"><i class="fa fa-bars" aria-hidden="true"></i></h1>
                <h4 v-if="isBarShow" class="layout-title"><i class="fa fa-sitemap" aria-hidden="true"></i> VUE-CRM</h4>
                <h4 v-if="!isBarShow" style="color: white; text-align: center;"><i class="fa fa-sitemap" aria-hidden="true"></i></h4>
                <div class="layout-menu">
                    <div class="menu-item" @click="siteState = 'createUser'" v-if="role == 'admin'">
                        <i class="fa fa-table" aria-hidden="true" :style="{'margin-left': isBarShow ? '0px' : '15%'}"></i>
                        <p v-if="isBarShow == true" style="margin-left: 10px;">создать юзера</p>
                    </div>
                    <div class="menu-item"  @click="siteState = 'profile'">
                        <i class="fa fa-home" aria-hidden="true" :style="{'margin-left': isBarShow ? '0px' : '15%'}"></i>
                        <p v-if="isBarShow == true" style="margin-left: 10px;">профиль</p>
                    </div>
                    <div class="menu-item" @click="siteState = 'login'">
                        <i class="fa fa-fast-backward" aria-hidden="true" :style="{'margin-left': isBarShow ? '0px' : '15%'}"></i>
                        <p v-if="isBarShow == true" style="margin-left: 10px;">Выйти</p>
                    </div>
                    <div class="menu-item" v-if="role == 'admin'" @click="siteState = 'offers'">
                        <i class="fa fa-file-alt" aria-hidden="true" :style="{'margin-left': isBarShow ? '0px' : '15%'}"></i>
                        <p v-if="isBarShow == true" style="margin-left: 10px;">офферы</p>
                    </div>
                </div>
            </div>

            <div v-if="siteState == 'login'" class="login-page">
                <div class="login-form">
                    <h3 class="login-title">Авторизация</h3>
                    <input placeholder="login" v-model="login" type="text" class="login-input">
                    <input v-model="password" placeholder="password" type="password" class="login-input" @keyup.enter="loginer()">
                    <button @click="loginer()" class="form-btn">Login</button>
                    <p v-if="unlogin" class="error-message">{{ unlogin }}</p>
                </div>
            </div>

            <div v-if="siteState == 'profile'" :class="{'profile' : isBarShow , 'profile-collapse' : !isBarShow}">
                <h3 class="profile-title">Профиль юзера</h3>
                <p class="profile-info">Имя: {{ name }}</p>
                <p class="profile-info">Фамилия: {{ surname }}</p>
                <p class="profile-info">Роль: {{ role }}</p>
                <button @click="logout()" class="form-btn">Выйти</button>
                <div v-if="role == 'admin'" class="card-container">
                    <div v-for="(item, index) in users" 
                    :class="{'admin-card': item.role === 'admin', 'user-card': item.role !== 'admin'}">
                        <div class="card-header">
                            <h3 class="card-title">{{ item.name }}</h3>
                        </div>
                        <div class="card-body">
                            <p>Логин: {{ item.login }}</p>
                            <p :style="{'color': item.role == 'admin' ? 'green' : 'black'}">Роль: {{ item.role }}</p>
                        </div>
                    </div>
                </div>
                <button @click="siteState='createUser'" v-if="role == 'admin'" class="form-btn">Создать нового пользователя</button>
            </div>

            <div v-if="siteState == 'createUser'" :class="{'create-user' : isBarShow , 'create-user-collapse' : !isBarShow}">
                <h3 class="create-user-title">Создать нового пользователя</h3>
                <input v-model="newUser.name" placeholder="name" type="text" class="login-input" required><br>
                <input v-model="newUser.surname" placeholder="surname" type="text" class="login-input" required><br>
                <input v-model="newUser.login" placeholder="login" type="text" class="login-input" required><br>
                <input v-model="newUser.password" placeholder="password" type="password" class="login-input" required><br>
                <select v-model="newUser.role" class="login-input" style="width: 180px;">
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                </select><br>
                <button @click="createUser()" class="form-btn">Создать</button>
                <h4 style="color: green; font-size: 20px;" v-if="unlogin.length > 0">{{ unlogin }}</h4>
            </div>

            <div v-if="siteState == 'offers'" :class="{'offers' : isBarShow , 'offers-collapse' : !isBarShow}">
                <h3 class="offers-title">страница с офферами</h3>
                <div v-for="(item, index) in offersArray">
                    <h4 class="offer-city">Город: <strong style="color: green;">{{ item.city }}</strong></h4>
                    <div v-for="(item2, index2) in item.selfOffers" class="offer-info" @click="showOffer(item2, index2)">
                        <h4>Компания: <strong style="color: green;">{{ item2.company }}</strong></h4>
                        <h4>Разработчик: <strong style="color: green;">{{ item2.developer }}</strong></h4>
                    </div>
                </div>
            </div>

            <div class="modal-window" v-if="isModalShow">
                <button class="close-modal-btn" @click="closeModal()">
                    <i style="color: white; font-size: 30px;" class="fa fa-times" aria-hidden="true"></i>
                </button>
                <div class="modal-body">
                    <h2 style="color: aliceblue;">Информация об оффере</h3>
                    <h4 style="color: antiquewhite;">Город: <strong style="color: white;">{{ modalOffer.city }}</strong></h4>
                    <h4 style="color: antiquewhite;">Компания: <strong style="color: white;">{{ modalOffer.company }}</strong></h4>
                    <h4 style="color: antiquewhite;">Разработчик: <strong style="color: white;">{{ modalOffer.developer }}</strong></h4>
                    <h4 style="color: antiquewhite;">Место: <strong style="color: white;">{{ modalOffer.area }}</strong></h4>
                    <h4 style="color: antiquewhite;">Координаты: <strong style="color: white;">{{ modalOffer.coords }}</strong></h4>
                </div>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    </body>
</html>

<script>

    let app = new Vue ({
        el: "#app",
        data: {
            title: "CRM on VUE.js",
            login: "",
            password: "",
            unlogin: "",
            name: "",
            surname: "",
            role: "",
            siteState: "login",
            users: [
                {"login": "web-coder", "password": "web-coder123", "role": "admin", "name": "Svyat", "surname": "Josua"},
                {"login": "tester", "password": "tester123", "role": "user", "name": "John", "surname": "Doe"},
                {"login": "guest", "password": "guest123", "role": "user", "name": "Guest", "surname": "User"},
                {"login": "admin", "password": "admin123", "role": "admin", "name": "Admin", "surname": "Admin"},
                {"login": "user", "password": "user123", "role": "user", "name": "User", "surname": "User"},
                {"login": "manager", "password": "manager123", "role": "user", "name": "Hui Pizda", "surname": "Manager"},
            ],
            newUser: {
                name: "",
                surname: "",
                login: "",
                password: "",
                role: "admin",
            },
            offersArray: [ // MOC DATA
                {"city": "Moscow", "selfOffers": [
                    {"city": "Moscow", "company" : "qwerty" , "developer" : "qwerty-developer" , "area": "moscow-city" , "coords": "3323.3833-12212.323"},
                    {"city": "Moscow", "company": "asd-zxc" , "developer" : "asd-zxc-developer" , "area": "dubai-citi", "coords": "12323.443-13462.64"},
                    {"city": "Moscow", "company": "lalala" , "developer" : "lalala-developer" , "area": "moscow-city", "coords": "8823.34563-12685.678"}
                ]},
                {"city": "New York", "selfOffers": [
                    {"city": "New York", "company" : "admin" , "developer" : "admin-developer" , "area": "new-york-city", "coords": "12345.6789-11122.345"},
                    {"city": "New York", "company": "user" , "developer" : "user-developer" , "area": "new-york-city2", "coords": "234234.34634-43523.545"},
                    {"city": "New York", "company": "guest" , "developer" : "guest-developer" , "area": "new-york-city3", "coords": "345678.9012-56789.0123"}
                ]},
                {"city": "London", "selfOffers": [
                    {"city": "London", "company" : "admin" , "developer" : "admin-developer" , "area": "london-city", "coords": "234567.8901-23456.789"},
                    {"city": "London", "company" : "user" , "developer" : "user-developer" , "area": "london-city2", "coords": "124124-23423423"},
                    {"city": "London", "company" : "guest" , "developer" : "guest-developer" , "area": "london-city3", "coords": "456789-67890.123"}
                ]}
            ],
            modalOffer: {
                city: "",
                company: "",
                developer: "",
                area: "",
                coords: "",
            },
            isBarShow: true,
            barWidth: "200px",
            isModalShow: false,
        },
        methods: {
            loginer() {
                let user = this.users.find(item => item.login === this.login && item.password === this.password);
                if (user) {
                    this.siteState = "profile";
                    this.name = user.name;
                    this.surname = user.surname;
                    this.role = user.role;
                    this.unlogin = "";
                    this.login = "";
                    this.password = "";
                } else {
                    this.login = ""
                    this.password = "";
                    this.unlogin = "Invalid password";
                    setTimeout(() => {
                        this.unlogin = "";
                    }, 1500);
                }
            },
            logout() {
                this.siteState = "login";
                this.name = "";
                this.surname = "";
                this.role = "";
                this.unlogin = "";
            },
            createUser() {
                if (this.newUser.name == "" || this.newUser.surname == "" || this.newUser.login =="") {
                    this.unlogin = "Заполни все данные (админ хуев)"
                    setTimeout(() => {
                        this.unlogin = "";
                    })
                    return
                } else {
                    this.users.push({
                    login: this.newUser.login,
                    password: this.newUser.password,
                    role: this.newUser.role,
                    name: this.newUser.name,
                    surname: this.newUser.surname
                })
                }
                this.newUser = {
                    name: "",
                    surname: "",
                    login: "",
                    password: "",
                    role: "admin"
                }
                this.unlogin = "Юзер успешно добавлен"
                setTimeout(() => {
                    this.unlogin = "";
                    this.siteState = "profile";
                }, 1500);
            },
            toggleBar() {
                this.isBarShow =!this.isBarShow;
                if (this.isBarShow) {
                    this.barWidth = "200px";
                } else {
                    this.barWidth = "50px";
                }
            },
            showOffer(offer, index) {
                this.modalOffer = offer;
                this.isModalShow = true;
            },
            closeModal() {
                this.isModalShow = false;
                this.modalOffer = {
                    city: "",
                    company: "",
                    developer: "",
                    area: "",
                    coords: "",
                }
            }
        }
    })

</script>