body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #751590;
    font-weight: bold;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 40px;
    padding-right: 40px;
}
.login-input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.form-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0f642d;
    color: white;
    border: none;
    border-radius: 5px;
}
.form-btn:hover {
    background-color: #419752;
    box-shadow: -5px -5px 10px rgb(133, 145, 21), 5px 5px 10px rgb(230, 85, 37);
    border-radius: 15px;
    transition: box-shadow 0.8s ease, border-radius 0.8s ease, margin-top 0.4s ease;
}
.error-message {
    color: rgb(165, 24, 24);
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.profile {
    display: block;
    justify-content: start;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(226, 228, 230);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    margin-left: 200px;
}
.profile-collapse {
    display: block;
    justify-content: start;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(226, 228, 230);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    margin-left: 50px;
}
.profile-title {
    color: #333;
    font-weight: bold;
    font-size: 30px;
}
.profile-info {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 20px;
}
.logout-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4900ae;
    color: white;
    border: none;
    border-radius: 5px;
}
.logout-btn:hover {
    background-color: #340078;
}
.admin-card {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
    width: 350px;
}
.user-card {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
    width: 350px;
    color: black;
}
.card-header {
    background-color: #756f6f;
    padding: 10px;
    color: white;
    border-radius: 25px;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.card-body {
    padding: 10px;
}
.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.create-user {
    display: block;
    padding: 20px;
    background-color: #a7a3ab;
    color: white;
    margin-left: 200px;
}
.create-user-collapse {
    display: block;
    padding: 20px;
    background-color: #a097a8;
    color: white;
    margin-left: 50px;
}
.app-layout {
    background-color: rgb(20, 124, 46);
    height: 100vh;
    position: fixed;
}
.layout-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.layout-menu {
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.layout-item-menu {
    display: flex;
}
@media screen and (max-width: 480px) {
    .login-form {
        width: 100%;
    }
    .card-container {
        flex-direction: column;
    }
    .card-container.admin-card,
    .card-container.user-card {
        width: 100%;
    }
    .card-header,
    .card-title,
    .card-body {
        text-align: center;
    }
    .logout-btn {
        margin-top: 0;
    }
    .profile-info {
        margin-bottom: 0;
    }
    .logout-btn:hover {
        background-color: #340078;
    }
}

.menu-item {
    background-color: #179d36;
    border-radius: 20px;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5%;
    max-width: 70%;
    display: flex; 
    align-items: center;
    text-align: end;
}
.menu-item:hover {
    background-color: #28a848;
    transition: background-color 0.7s ease;
    box-shadow: inset 5px 5px 10px rgb(238, 165, 56), inset -5px -5px 10px rgb(202, 222, 20);
    padding: 10px;
}

.offers {
    display: block;
    margin-left: 250px;
    padding: 20px;
}
.offers-collapse {
    display: block;
    margin-left: 100px;
    padding: 20px;
}
.offer-city {
    background-color: #a69e9e;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 15px;
}
.offer-info {
    margin-left: 40px;
    background-color: #a7a3ab;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
    padding-left: 30px;
    border-radius: 15px;
}
.offers-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    justify-content: center;
    z-index: 1000;
}
.close-modal-btn {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    position: fixed;
    margin-top: 27vh;
    margin-left: 64vw;
}
.modal-body {
    text-align: center;
    height: 50vh;
    margin-top: 25vh;
    /*background-color: #100e0e;
    box-shadow: inset -6px -6px 20px rgb(6, 71, 23), inset 6px 6px 20px rgb(6, 131, 4);
    opacity: 0.8;*/
    width: 50vw;
    margin-left: 25vw;
    padding-top: 30px;
}